.dbWrappper {
  width: 20%;
  display: flex;
  justify-content: space-between;
  color: #6b7280;
}

.bdLinks {
  cursor: pointer;
}

@media (max-width: 780px) {
  .dbWrappper {
    width: 60%;
    margin-bottom: 20px;
  }
}
