.dbWrappper {
  display: flex;
  align-items: center;
  color: #6b7280;
  margin-bottom: 10px;
  gap: 10px;
}

.bdLinks {
  cursor: pointer;
  word-break: keep-all;
}

@media (max-width: 780px) {
  .dbWrappper {
    margin-bottom: 20px;
    font-size: 0.75rem;
  }
}
